@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap");

.main-animation {
  animation: page-animation 1s forwards;
}

@keyframes page-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

th {
  padding: 1rem;
  text-align: left;
}

td {
  padding: 1rem;
}

.logo-font {
  font-family: "Instrument Serif", serif;
}
